<?xml version="1.0" encoding="UTF-8" ?>
<!--简单来说，每一个Dao都有一个mapper.xml文件来进行操作-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lab.project.smartoffice.common.sdkcallback.warning.mapper.DataWarningMapper">
    <!--插入操作-->
    <insert id="saveDataWarning" parameterType="com.lab.project.smartoffice.common.sdkcallback.warning.domain.DataWarning" useGeneratedKeys="true" keyProperty="id">
        insert into t_data_warning(
            data_collection_id,
            data_warning_type,
            data_warning_type_name,
            processing_status,
            space_id,
            space_type,
            space_type_name,
            space_name,
            space_position,
            space_capacity,
            space_pic_url,
            gateway_id,
            gateway_name,
            gateway_model,
            device_id,
            device_name,
            device_model,
            device_type,
            device_type_name,
            device_position,
            device_position_x,
            device_position_y,
            device_position_z,
            device_pic_url,
            device_length,
            device_width,
            device_height,
            strategy_id,
            strategy_name,
            strategy_is_enable,
            strategy_data,
            strategy_data_smaller_than,
            strategy_data_bigger_than,
            device_function_type,
            device_function_type_name,
            device_function_data,
            sort_no,
            create_time,
            create_by,
            update_time,
            update_by,
            version,
            del_flag
        ) values
        (
            #{dataCollectionId},
            #{dataWarningType},
            #{dataWarningTypeName},
            #{processingStatus},
            #{spaceId},
            #{spaceType},
            #{spaceTypeName},
            #{spaceName},
            #{spacePosition},
            #{spaceCapacity},
            #{spacePicUrl},
            #{gatewayId},
            #{gatewayName},
            #{gatewayModel},
            #{deviceId},
            #{deviceName},
            #{deviceModel},
            #{deviceType},
            #{deviceTypeName},
            #{devicePosition},
            #{devicePositionX},
            #{devicePositionY},
            #{devicePositionZ},
            #{devicePicUrl},
            #{deviceLength},
            #{deviceWidth},
            #{deviceHeight},
            #{strategyId},
            #{strategyName},
            #{strategyIsEnable},
            #{strategyData},
            #{strategyDataSmallerThan},
            #{strategyDataBiggerThan},
            #{deviceFunctionType},
            #{deviceFunctionTypeName},
            #{deviceFunctionData},
            #{sortNo},
            #{createTime},
            #{createBy},
            #{updateTime},
            #{updateBy},
            #{version},
            #{delFlag}
        )
    </insert>

    <update id="editDataWarning">
        Update t_data_warning
        SET update_time = #{updateTime},
            update_by = #{updateBy},
            processing_status = 1,
            version = version + 1
        WHERE
            processing_status = 0
        AND id IN
            <foreach collection="ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
    </update>

    <select id="selectDataWarning" parameterType="DataWarningDTO" resultType="com.lab.project.smartoffice.common.sdkcallback.warning.domain.DataWarning">
        SELECT *
        FROM t_data_warning
        WHERE
             del_flag = '0'
        <!--deviceName-->
        <if test="deviceName != null">
            AND device_name = #{deviceName}
        </if>

        <!--deviceName-->
        <if test="dataWarningType != null">
            AND data_warning_type = #{dataWarningType}
        </if>

        <!--processingStatus-->
        <if test="processingStatus != null">
            AND processing_status = #{processingStatus}
        </if>

        <!--beginTime-->
        <if test="beginTime != null">
            AND create_time >= #{beginTime}
        </if>

        <!--endTime-->
        <if test="endTime != null">
            AND create_time &lt;= #{endTime}
        </if>

        <!--spaceType-->
        <if test="spaceType != null">
            AND space_type = #{spaceType}
        </if>

        <!--spaceId-->
        <if test="spaceId != null">
            AND  space_id = #{spaceId}
        </if>

        <!--ids-->
        <if test="ids != null">
            AND id IN
            <foreach collection="ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>

    </select>
    
    <select id="statistics" parameterType="DataWarning" resultType="com.lab.project.smartoffice.common.sdkcallback.warning.domain.vo.DataWarningVO">
        SELECT
            (SELECT COUNT(1) FROM t_data_warning WHERE space_id = #{spaceId}) AS alarmsValue,
            (SELECT COUNT(1) FROM t_data_warning WHERE space_id = #{spaceId} AND processing_status = 0) AS pendingValue,
            (SELECT COUNT(1) FROM t_data_warning WHERE space_id = #{spaceId} AND processing_status = 1) AS processedValue
    </select>

    <select id="analyze" parameterType="DataWarning" resultType="com.lab.project.smartoffice.common.sdkcallback.warning.domain.vo.DataWarningVO">
        SELECT data_warning_type,
               COUNT( 1 ) as dataWarningValue
        FROM
               t_data_warning
        WHERE
              del_flag = '0'
        <if test="spaceId != null">
            AND space_id = #{spaceId}
        </if>

        GROUP BY
              data_warning_type
    </select>
</mapper>